＃字节编译/优化/ DLL文件
__pycache __ /
*的.py [化学需氧量]
* $ py.class

#C扩展名
*。所以

＃分销/包装
。蟒蛇
建立/
开发鸡蛋/
DIST /
下载/
蛋/
。蛋/
LIB /
lib64的/
部分/
sdist /
VAR /
车轮/
* .egg-INFO /
.installed.cfg
*。蛋
表现

#PyInstaller
＃通常这些文件是由模板中的python脚本编写的
#PinInstaller之前构建exe，以便将日期/其他信息注入其中。
*。表现
*的.spec

#Installer日志
PIP-log.txt的
PIP-删除 - 这-directory.txt

＃单元测试/覆盖率报告
htmlcov /
.tox /
.coverage
.coverage。*
.cache
nosetests.xml
coverage.xml
*。盖
。假设/
.pytest_cache /

＃翻译
*的.mo
*。锅

#Django的东西：
* .LOG
local_settings.py
db.sqlite3

＃烧瓶东西：
实例/
.webassets缓存

#Scrapy东西：
.scrapy

#Sphinx文档
文档/ _build /

#PiBuilder
目标/

#Jupyter笔记本
.ipynb_checkpoints

#pyenv
.python版本

＃芹菜节拍时间表文件
celerybeat时间表

#SageMath解析文件
* .sage.py

#Environments
.ENV
.venv
ENV /
VENV /
ENV /
env.bak /
venv.bak /

#Spyder项目设置
.spyderproject
.spyproject

＃绳索项目设置
.ropeproject

#mkdocs文档
/现场

#mypy
.mypy_cache /
