{% load static %}
<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta name="baidu-site-verification" content="t7oDT96Amk">
<title>唯品会手机版</title>
<meta content="" name="keywords">
<meta content="" name="description">
<meta name="sogou_site_verification" content="G7nmLR75yc">
<meta name="baidu-tc-cerfication" content="0a8c6d28b570b218f78510c29be4529b">
<meta name="360-site-verification" content="8b6121969d78afda8caeb69053fa29d9">


<link rel="stylesheet" href="/static/style/c3e09ac36d.css">
<link rel="stylesheet" href="/static/style/86fe49ca90.css">
<link rel="stylesheet" type="text/css" href="/static/style/footer.css">


<script>__STAT.add('head_load');</script>

</head>

<body style="padding-bottom: 45px;" class=" hPC">



<!--客户端下载的图片-->
 

		<header id="header" class="u-header clearfix">
	    <!--返回按钮根据程序判断来源，返回上一级-->
		 		 <!-- 非微信扫码进入的用户 -->
	    <div class="u-hd-left f-left">
                <a href="javascript:void(0)" class="J_backToPrev"><span class="u-icon i-hd-back"></span></a>
                </div>
			     <div class="u-hd-tit"><span>修改地址</span></div>
      		 	</header>
	
<div class="connerdiv">
    <form name="addressForm_" action="" method="POST">
        {% csrf_token %}
        {% for addr in addrs %}
            {% if addr %}
                <dl class="connerbox">
        {#            <dd><span class="form_hd">姓名：</span><span class="form_td"><input name="username" maxlength="50" class="text_input" type="text"></span></dd>#}
                    <dd><span class="form_hd">手机：</span><span class="form_td"><input name="mobile" maxlength="11" class="text_input" type="text" value="{{ addr.u_tel }}"></span></dd>
                    <dd><span class="form_hd">省份：</span><span class="form_td"><input id="province" name="province" class="text_select" type="text" value="{{ addr.u_provinces }}"></span></dd>
                    <dd><span class="form_hd">城市：</span><span class="form_td"><input name="city" class="text_input" type="text" value="{{ addr.u_city }}"></span></dd>
                    <dd><span class="form_hd">区县：</span><span class="form_td"><input name="county"  class="text_input" type="text" value="{{ addr.u_county }}"></span></dd>
                    <dd><span class="form_hd">街道：</span><span class="form_td"><input name="street"  class="text_input" type="text" value="{{ addr.u_street }}"></span></dd>
                    <dd><span class="form_hd">设默认地址为:1,非默认为0：</span><input name="addstatus" class="text_input" type="text" style="margin-left: 180px;" value="{{ addr.u_addrstatus }}"></dd>
                    <dd><span class="form_hd">邮编：</span><span class="form_td"><input name="email" maxlength="128" class="text_input" id="postcode" type="text" value="{{ addr.u_email }}"></span></dd>
                </dl>

                <dl class="connerbox">
                </dl>

                <dl class="connerbox">
                    <dd><span>详情地址：</span>
                        <textarea name="address" rows="5" class="textarea_input textarea_address">{{ addr.u_detailaddr }}</textarea>
                    </dd>
                </dl>
                <div class="ui-btn-area">
                    <input data-commit="address" class="btn_red" data-istempuser="false" data-loading-text="正在提交..." value="完成" type="submit">
                </div>
            {% endif %}
        {% endfor %}
    </form>
</div>


<!--<div class="space10"></div>


  	  	  	  	  <div class="layout-login-area" id="footer">
			     <div class="layout-login">
						<span class="layout-lg-bar">528062317@qq.com </span>
						<span class="layout-new-fr"><a href="">反馈</a></span>
			     </div>

			     <div class="layout-copyright">© 河北-向暖 版权所有</div>
	      </div>-->
	
<!--以下是底部样式-->
<div style="display: block;" class="footer_bar openwebview">
        <ul class="warp clearfix">
            <li><!--<li class="on">-->
                <a href="/home/index" page_click_button="底部_首页">
                    <i class="new_icon"></i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="fenlei.html" page_click_button="底部_品牌">
                    <i class="new_icon"></i>
                    <span>分类</span>
                </a>
            </li>
            <li>
                <a href="user.html" data-url="/i/index" page_click_button="底部_我的" class="to_personalcenter personalcenternum">
                    <i class="new_icon"><strong style="display: none;"></strong></i>
                    <span>我的</span>
                </a>
            </li>
            <li>
                <a href="gouwuche.html" data-url="/shoppingcart/index" page_click_button="底部_购物车" class="new_car_center">
                    <i class="new_icon"><strong style="">2</strong></i>
                    <span>购物车</span>
                </a>
            </li>
        </ul>
    </div>
	

    
  <!--以下是浮于显示屏左下角的购物袋-->
  

</body></html>